BaseRecord/Schemas/ae/FileAdapter/native/ContainerWriter.xsd

<?xml version='1.0' encoding='UTF-8'?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://www.tibco.com/xmlns/ae2xsd/2002/05/ae/FileAdapter/native/ContainerWriter" xmlns:ae="http://www.tibco.com/xmlns/ae2xsd/2002/05" targetNamespace="http://www.tibco.com/xmlns/ae2xsd/2002/05/ae/FileAdapter/native/ContainerWriter" elementFormDefault="qualified" attributeFormDefault="qualified">
    <import namespace="http://www.tibco.com/xmlns/ae2xsd/2002/05" schemaLocation="../../../ae2xsd.xsd"/>
    <complexType ae:type="class" ae:typename="/tibco/public/class/ae/FileAdapter/native/ContainerWriter/Department" ae:directory="/AESchemas/ae/FileAdapter/native/ContainerWriter.aeschema#class.Department" name="Department">
        <sequence>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="0" aex:padding="" name="field" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="1" aex:padding="" name="field1" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType ae:type="class" ae:typename="/tibco/public/class/ae/FileAdapter/native/ContainerWriter/Employee" ae:directory="/AESchemas/ae/FileAdapter/native/ContainerWriter.aeschema#class.Employee" name="Employee">
        <sequence>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="0" aex:padding="" name="field" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="1" aex:padding="" name="field1" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="2" aex:padding="" name="field2" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
        </sequence>
    </complexType>
    <complexType ae:type="class" ae:typename="/tibco/public/class/ae/FileAdapter/native/ContainerWriter/Item" ae:directory="/AESchemas/ae/FileAdapter/native/ContainerWriter.aeschema#class.Item" name="Item">
        <sequence>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="0" aex:padding="" name="field" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="1" aex:padding="" name="field1" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="2" aex:padding="" name="field2" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
            <element xmlns:aex="http://xmlns.tibco.com/ae2xsd/extendedProperties/2003" aex:width="-1" aex:alignment="left" ae:readable="true" ae:writeable="true" aex:position="3" aex:padding="" name="field3" form="unqualified" nillable="true" type="ae:string" minOccurs="0"/>
        </sequence>
    </complexType>
    <element name="Department" type="ns0:Department"/>
    <element name="Employee" type="ns0:Employee"/>
    <element name="Item" type="ns0:Item"/>
</schema>